

@media screen and (min-width: 1024px) {
  h1 {
    font-size:30px;
    line-height:25px;
  }
  h2 {
    font-size:30px;
    line-height:45px;
  }
  p {
    font-size:18px;
    line-height:25px;
    padding:0 35px 0 0;
  }
  .wrapper {
    width:100%;
    padding:0 20px;
    section {
      width:100%;
      overflow:hidden;
      padding:100px 0 0;
    }
    .content {
      width:70%;
      float:$floatLeft;
    }
    .sidebarBlock {
      width:30%;
      float:$floatLeft;
      text-align:$alignCenter;
      ul {
        margin:20px 0 0;
      }
    }
  }
}
